*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  font-family: system-ui, sans-serif;
  background-color: #1b1b1c;
  color: #ffffff;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;  
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: #ffffff83;
    position: fixed;
    border-radius: 50%;
    color: rgb(49, 59, 59);
    font-size: 3px;
    z-index: 10;
    display: flex;  
    justify-content: center;
    align-items: center;
    text-align: center;
}
#image{
    width: 70%;
    height: 70%;
    border-radius: 10px;
    box-shadow:
    0 0 8px rgb(143, 162, 162),
    0 0 10px rgb(92, 97, 97),
    0 0 29px rgb(116, 119, 119);
    position: relative;
   
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
     z-index: 9;
}

#overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: transparent;
    z-index: 11; 
}

/* img:hover{
    box-shadow:
    0 0 20px rgb(255, 255, 255),
    0 0 30px rgb(200, 200, 200),
    0 0 40px rgb(150, 150, 150);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    
} */

/* img > cursor > overlay */
