*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  font-family: 'Gilroy', sans-serif;
  background-color: #1b1b1c;
  color: #ffffff;
   overflow-x: hidden;

}

#page1{
  height: 100%;
  width: 100%;
  background-color: rgb(45, 47, 49);
}
  

#page2{
  height: 100%;
  width: 100%;
  
  background-color: rgb(206, 55, 86);
  
}

#page3{
  height: 100%;
  width: 100%;
  background-color: rgb(22, 22, 23);
}

h1{
  font-size: 35rem;
  font-weight: 900;
  text-transform: uppercase;
  padding: 5rem;
  
}
  
 