*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  font-family: system-ui, sans-serif;
  background-color: #1b1b1c;
  color: #ffffff;
  font-family: 'Gilroy', sans-serif;
}

.nav{
  display:flex;
  justify-content: space-between;
  padding:1rem;

}

#part2{
    display:flex;
    margin:6px;
    gap: 23px;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 100px;
}